#app2 {
    border: 10px solid blue;
}

#app2 .tab-bar {
    display: flex;
}

#app2 .tab-bar > li{
    border: 2px solid black;
    width: 50%;
}

#app2 .tab-bar > li.selected{
    background-color: yellow;
}

#app2 .tab-content {}

#app2 .tab-content > li {
    display: none;
}

#app2 .tab-content > li.active {
    display: block;
}