#app4 {
    border: 10px solid yellow;
}

#app4 .circle{
    width: 10vw;
    height: 10vw;
    margin-top: calc(50% - 8vw);
    margin-left: calc(50% - 5vw);
    border: 5px solid red;
    border-radius: 50%;
}

@keyframes changeColor {
    0%{
        background: red;
    }
    25%{
        background: teal;
    }
    50%{
        background: yellowgreen;
    }
    75%{
        background: whitesmoke;
    }
    100%{
        background: tomato;
    }
}

#app4 .circle.active{
    animation: changeColor 5s infinite alternate linear;
}
